.map{
/*    width: 306px;*/
    height: 180px;
    border: 1px solid #000;
    background: url('images/map.jpg');
}
.w300{
    width: 300px;
}
.cord-info{
    background: #75ADDA;
    border: 1px solid #2A2A2A;
    padding: 3px;
    text-shadow: none;
    text-align: center;
}
.cord-value{
    font-weight: bold;
}
.box{
    margin: auto;  
    text-align: center;
}
.image-thumb{
    display:none;
    border: 1px solid #2373a5;
    height:60px;
    width:60px;
}
.image-div{
    float: left;
}
.multi-imge{
    float: left;
}
.image-div-m{
    border: 1px solid #2373a5;
}
.submit-info{
    background: #75ADDA;
    border: 1px solid #2A2A2A;
    padding: 3px;
    text-shadow: none;
    text-align: center;
}
.page-containar{
    width: 100%;
    height: 100%;
}
div#wrap{
    overflow: hidden;
}
.ui-btn-corner-all{
    border-radius: .3em;
}
a.main_page_button{
    height: 60px;
}
a.main_page_button span{
    height: 40px;
    padding-top: 13px;
    font-size: 24px;
}
a.take_photo{
    background: #36A723;
}
.submit_page_label label{
    font-weight: bold;
}
.submit_page_main{
    background: #CFCFCF;
    border: 1px solid #2373a5;
    padding: 5px;
}
.submit_page_section_heading{
    border-bottom: 2px solid #2373a5;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

/*
*
*   new ui new css class 
*
*/
.input_field{
    font-size: 28px;
    float: left;
    padding: 0.2em 0em 0.1em 0em;
}
.float_left{
    float: left;
}
.label_text{
    float: left;
    width: 100%;
}

.footer_buttons{
    font-size: 15px;
}

a.footer_buttons span.ui-btn-text{
    font-size: 17px;
}

.view_location{
    background: #FBE581;
}

.send_incident{
    background: #3C6FA1;
}

.your_information{
    background: #464646;
}
/*
*
*   new ui css override
*
*/
/* input box */
.ui-shadow-inset{
    box-shadow: none;
}
.ui-body-c, .ui-dialog.ui-overlay-c{
    border: none;
}
.ui-corner-all{
    border-radius: 0px;
}
input.ui-body-c, input.ui-dialog.ui-overlay-c{
    background: #e0e0e0;
}

/* button */
.ui-corner-top, .ui-corner-bottom, .ui-btn-corner-all{
    border-radius: 0px;
}
.ui-field-contain:first-child{
    border: none;
}
.ui-navbar-noicons li .ui-btn .ui-btn-inner, .ui-navbar-noicons .ui-navbar-toggle .ui-btn-inner{
    padding-top: .8em;
    padding-bottom: .9em;
}
.ui-corner-left, .ui-corner-right{
    border-bottom-left-radius: 0em;
    border-top-left-radius: 0em;
    border-bottom-right-radius: 0em;
    border-top-right-radius: 0em;
}
.ui-body-c, .ui-dialog.ui-overlay-c{
    background: #e0e0e0;
}
input.ui-input-text, textarea.ui-input-text{
    border: none;
}
.ui-field-contain input.ui-input-text, .ui-field-contain textarea.ui-input-text, .ui-field-contain .ui-input-search{
    border: none;
}
input.ui-input-text{
    border: none;
    box-shadow: none;
}
.ui-btn-up-b{
   background: #3C6FA1; 
}
#reg{
    text-align: left;
}
.ui-page-header-fullscreen .ui-content, .ui-page-footer-fullscreen .ui-content{
    padding: 15px;
}
.gender{
    float: left;
}
.cat-odd .ui-radio .ui-btn-up-c{
    background: #2373a5;
}
.cat-even .ui-radio .ui-btn-up-c{
    background: #999;
}